# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

# Directory-based project format:
.idea

bootstrap
jquery
fonts
css/bootstrap*
css/font-awesome*
js
assignment1/css
assignment1/fonts
assignment1/js
assignment1/joseph.html
assignment1/Kelvin-Wu.html
assignment1/Larisa-Morozova.html

assignment2/css
assignment2/fonts
assignment2/js
assignment2/img
assignment2/*.png
assignment2/others*

assignment3/css
assignment3/fonts
assignment3/js
assignment3/img
assignment3/*.png
assignment3/others*

bower_components
